*{
	padding: 0px;
	margin: 0px;
	font-family: 'Calibri','Arial';
	color:white;
}

main{
	position: relative;
	width: 100%;
	height:	1014px;
}

footer{
	width: 100%;
	height: 66px;
	background: #e67817;

	text-align: center;
  	vertical-align: middle;
  	font-size: 20px;
  	color: white;
  	line-height: 66px;
}