*{
	padding: 0px;
	margin: 0px;
	font-family: 'Calibri','Arial';
	color:white;
	user-select:none;
	border: none;
}
::-webkit-scrollbar {
display: none;

}
*:focus {
    outline: none;
}

input,select{
	height: 56px;
	width: 267px;
	background: rgba(215, 112, 22,.15);
	color: rgba(255,255,255, 0.5);
	border-style: none;
	border-bottom: 2px solid #d77016;
	margin: 27px 0 0 46px;
	padding-left: 10px;
}

main{
	position: relative;
	width: 100%;
	height:	1014px;
}

footer{
	width: 100%;
	height: 66px;
	position: fixed;
	bottom: 0;
	background: #e67817;
	text-align: center;
  	vertical-align: middle;
  	font-size: 25px;
  	color: white;
  	line-height: 66px;
}

/*datapicker*/
.datapicker::-webkit-inner-spin-button {
  display: none;
}
.datapicker::-webkit-calendar-picker-indicator {
  opacity: 0;
}
.datapicker{
	background: rgba(215, 112, 22,.15) url(../images/data-icon.png)  99% 10% no-repeat ;
} 
