
.side-menu-left{
	float: left;
	height: 1014px;
	width: 370px;
	background: black;
	display: block;
}
.top-left-popup-button{
	border: none;
	position: fixed;
	left: 23px;
	top: 20px;
	z-index: 10;
	width: 36px;
	height: 24px;
	background: url(../images/left-side-button.png) no-repeat;
}

.search-field{
	margin-top: 122px;
}

.search-button{
	height: 36px;
	background: url(../images/lupa.png) no-repeat;
	width: 34px;
	margin-left:-42px;
	padding-bottom: 8px; 	
    cursor: pointer;
}
.checkbox-block{
	width: 267px;
	background: rgba(255, 255,255,.1);
	margin: 27px 0 0 47px;
	padding: 0 5px 0 5px;
	border-bottom: 2px solid #d77016;
}
.checkbox-block td{
	width: 7vw;
	padding-left: 5px;
	height: 73px;
}	
.checkbox-block input {
	position: absolute; 
    transform: scale(0); 
}
.checkbox-block input + label {
	display:inline-block;
	background: url(../images/check_anim.png) no-repeat;
	height:33px; 
	padding-left:50px;
	line-height:35px;
	font-size:18px;
	text-transform: uppercase;
}

.checkbox-block input:checked + label{
    background-position: 0 -38px;
}
