
.side-menu-left{
	float: left;
	height: 100%;
	width: 370px;
	background: black;
}

.top-left-popup-button{
	border: none;
	display: block;
	width: 36px;
	height: 24px;
	background: url(../images/left-side-button.png) no-repeat;
	margin:23px 0 0 23px;
}

.search-field{
	margin-top: 75px;
}

.search-button{
	height: 36px;
	background: url(../images/lupa.png) no-repeat;
	width: 34px;
	margin-left:-42px;
	padding-bottom: 8px; 	
    cursor: pointer;
}
.checkbox-block{
	width: 267px;
	background: rgba(255, 255,255,.1);
	margin: 27px auto;
	padding: 0 5px 0 5px;
	border-bottom: 2px solid #d77016;
}
.checkbox-group td{
	width: 7vw;
	padding-left: 5px;
	height: 73px;
}	
.css-checkbox {
	position: absolute; 
    transform: scale(0); 
}
.css-checkbox+.css-label {
	display:inline-block;
	background: url(../images/check_anim.png) no-repeat;
	height:33px; 
	padding-left:50px;
	line-height:35px;
	font-size:18px;
	text-transform: uppercase;
}

.css-checkbox:checked+.css-label{
    background-position: 0 -38px;
}
