
.table-block {
	float: left;
	width: 1550px;
	height: 100%;
	background-color: #0a0b0d;
} 

.table-block table {
	width: 1470px;
	margin-left: 22px;
	margin-top: 22px;
	text-align: center;
	vertical-align: middle;
	font-size: 20px;
	border-collapse: collapse;

	/*border: 1px solid white;*/
}

.table-block th, td {
	height: 90px;
	width: 180px;

	/*border: 1px solid white;*/
}

.table-block th {
	color: #e67817;
	border-bottom: 2px solid #737374;
}

.table-block th:first-child,
.table-block td:first-child {
	width: 220px;
}

.table-block th:last-child,
.table-block td:last-child {
	width: 120px;
}

.table-block th:nth-child(2),
.table-block td:nth-child(2){
	width: 0px;
}

.table-block tbody tr:nth-child(2n){
	background-color: #0f1012;
}

/* | */
.table-block th div,
.table-block td div{
	width: 0px;
	height: 33px;
	margin: 0 auto;
	border: 1px solid;
}
.table-block th div{
	border-color: #e67817;
}
.table-block td div{
	border-color: #737374;
}

.table-block td img {
	content: url(../images/table-del.png);
}


/* hover */
.table-block tbody tr:hover{
	background-color: rgba(53, 62, 68, 0.5);
}
.table-block tbody tr:hover td:last-child img{
	content: url(../images/table-del1.png);
}


/* finished */
.table-block .finished {
	background-color: #6f0d0f;
}
.table-block .finished img {
	content: url(../images/table-del1.png);
}
.table-block .finished div {
	visibility: hidden;
}