
.table-block {
	float: right;
	width: 1550px;
	height: 1014px;
	display: block;
    transition: transform 0.2s;
	background-color: #0a0b0d;
} 

.table-block > table {
	width: 95%;
	margin-left: 1.5%;
	margin-top: 1.5%;
}

.table-block table {
	text-align: center;
	vertical-align: middle;
	font-size: 20px;
	border-collapse: collapse;

	/*border: 1px solid white;*/
}

.table-block th, td {
	height: 90px;
	width: 13%;

	/*border: 1px solid white;*/
}

.table-block th {
	color: #e67817;
	border-bottom: 2px solid #737374;
}

.table-block th:first-child,
.table-block td:first-child {
	width: 15%;
}

.table-block th:last-child,
.table-block td:last-child {
	width: 7%;
}

.table-block th:nth-child(2),
.table-block td:nth-child(2){
	width: 0px;
}

.table-block tbody tr:nth-child(2n){
	background-color: #0f1012;
}

.table-block button {
	width: 100%;
	height: 100%;
}

.table-block th button {
	background: url(../images/table-header-add.png) no-repeat center center;
}

.table-block td button {
	background: url(../images/table-del.png) no-repeat center center;
}

/* | */
.table-block th div,
.table-block td div{
	width: 0px;
	height: 33px;
	margin: 0 auto;
	border: 1px solid;
}
.table-block th div{
	border-color: #e67817;
}
.table-block td div{
	border-color: #737374;
}

/* hover */
.table-block tbody tr:hover{
	background-color: #353e44 !important;
}
.table-block tbody tr:hover td:last-child button{
	background: url(../images/table-del1.png) no-repeat center center;
}
.table-block tr {
	transition-property: background-color;
	transition-duration: 0.5s;
}


/* finished */
.table-block .finished {
	background-color: #6f0d0f !important;
}
.table-block .finished button {
	background: url(../images/table-del1.png) no-repeat center center;
}
.table-block .finished img {
	content: url(../images/table-del1.png);
}
.table-block .finished div {
	visibility: hidden;
}

#wrapper-scroll {
	position: relative;
	width: 95%;
	margin-left: 1.5%;
	height: 900px;
	overflow: hidden;
}

#wrapper-scroll table {
	position: absolute;
}